
    <h2 class="content-block">Project List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">

  <dx-data-grid  #dataGridVar
  (onCellDblClick)="updateRow($event)"

  [hoverStateEnabled]="true"
    [dataSource]="dataProject"
    [showBorders]="true"
    (onSelectionChanged)="selectionChanged($event)"
  >
  <dxo-header-filter [visible]="true"> </dxo-header-filter>

  <dxo-filter-panel [visible]="true"> </dxo-filter-panel>

  <dxo-filter-row [visible]="true"> </dxo-filter-row>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
  [allowedPageSizes]="[5, 10]"
  [showPageSizeSelector]="true"
  [showNavigationButtons]="true"
></dxo-pager>

    <dxo-selection mode="multiple"></dxo-selection>

    <!-- <dxi-column dataField="_id" caption="ID"></dxi-column> -->
    <dxi-column dataField="customer_code" caption="Customer code"></dxi-column>
    <dxi-column dataField="project_code" caption="Project code"></dxi-column>
    <dxi-column dataField="project_name"  caption="Project name" ></dxi-column>
    <dxi-column dataField="from_date"  dataType="datetime" caption="From date" ></dxi-column>
    <dxi-column dataField="to_date" dataType="datetime"  caption="To date" ></dxi-column>
    <dxi-column dataField="updated_date" dataType="datetime"  caption="updated date"></dxi-column>
    

    <dxo-toolbar>
      <dxi-item location="after"> 
        <dx-button
        icon="add"
    text="Create Project"
    (onClick)="togglePopup()">
</dx-button>
      </dxi-item>

      <dxi-item name="addRowButton" showText="always"> </dxi-item>
      <dxi-item location="after">
        <dx-button
          (onClick)="deleteRecords()"
          [disabled]="!selectedItemKeys.length"
          icon="trash"
          text="Delete Selected Records"
        >
        </dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>

</div>
</div>

<dx-popup 
[showTitle]="true"
title="Create Project"
    [(visible)]="isPopupVisible"
    [hideOnOutsideClick]="true"
>
<dxi-toolbar-item
        widget="dxButton"
        location="after"
        [options]="closeButtonOptions">
    </dxi-toolbar-item>
     
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <form action="post" (submit)="onSubmit($event)"
    >
    <dx-form [formData]="formData"
    [colCount]="2"
    scrollingEnabled="true"
   
    
>
      <dxi-item  editorType="dxTextBox" dataField="project_code"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Project code', mode: 'text' }">
      <dxi-validation-rule type="required" message="Project code is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item  editorType="dxTextBox" dataField="project_name"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Project name', mode: 'text' }">
      <dxi-validation-rule type="required" message="Project name is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    
   
  <dxi-item  dataField="from_date"
      [editorOptions]="{ stylingMode: 'filled', mode: 'date' }">
    </dxi-item> 
    <dxi-item
    dataField="customer_code"
    editorType="dxSelectBox"
    [editorOptions]="{ items: Customer_code, value: '' }"
  ></dxi-item>
    <dxi-item  dataField="to_date"
    [editorOptions]="{ stylingMode: 'filled', mode: 'date' }">
   
  </dxi-item> 
    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'Create Project'">
      </dxo-button-options>
    </dxi-item>

    </dx-form>
  </form>  
  </div>
</div>
</dx-popup>