<!-- <h2 class="content-block">Customer List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
           

<dx-data-grid #dataGrid
id="dataGrid"
[dataSource]="DataCustomer"

(onSelectionChanged)="selectionChanged($event)">
<dxo-editing
mode="row"
[selectTextOnEditStart]="true"
[useIcons]="true"
>
</dxo-editing>
<dxo-selection mode="multiple"></dxo-selection>
<dxo-header-filter [visible]="true"> </dxo-header-filter>

  <dxo-filter-panel [visible]="true"> </dxo-filter-panel>

  <dxo-filter-row [visible]="true"> </dxo-filter-row>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
  [allowedPageSizes]="[5, 10]"
  [showPageSizeSelector]="true"
  [showNavigationButtons]="true"
></dxo-pager>
<dxo-toolbar>
  <dxi-item location="after">
    <dx-button
      (onClick)="deleteRecords()"
      [disabled]="!selectedItemKeys.length"
      icon="trash"
      text="Delete Selected Records"
    >
    </dx-button>
  </dxi-item>
</dxo-toolbar>
</dx-data-grid>

  </div>
</div>
<hr> -->
<h2 class="content-block">Customer List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    
  <dx-data-grid  #dataGridVar
   
    [dataSource]="DataCustomer"
    [showBorders]="true"
    (onSelectionChanged)="selectionChanged($event)"
  >

  <dxo-header-filter [visible]="true"> </dxo-header-filter>

  <dxo-filter-panel [visible]="true"> </dxo-filter-panel>

  <dxo-filter-row [visible]="true"> </dxo-filter-row>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
  [allowedPageSizes]="[5, 10]"
  [showPageSizeSelector]="true"
  [showNavigationButtons]="true"
></dxo-pager>
<dxo-editing mode="popup">
  <dxo-texts confirmDeleteMessage=""></dxo-texts>
</dxo-editing>

    <dxo-selection mode="multiple"></dxo-selection>

    <dxi-column dataField="customer_code" caption="Customer code"></dxi-column>
    <dxi-column dataField="customer_name"  caption="Customer name" ></dxi-column>
    <dxi-column dataField="contact_no"  caption="Customer contact" ></dxi-column>
    <dxi-column dataField="address"  caption="Customer address" ></dxi-column>
    <dxi-column dataField="created_date" dataType="datetime"  caption="created date"  ></dxi-column>
    <dxi-column dataField="updated_date" dataType="datetime"  caption="updated date"></dxi-column>



    <dxo-toolbar>
     
      <!-- name="addRowButton" showText="always" -->
      <dxi-item location="after"> 
        <dx-button
        icon="add"
    text="Create Customer"
    (onClick)="togglePopup()">
</dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button
          (onClick)="deleteRecords()"
          [disabled]="!selectedItemKeys.length"
          icon="trash"
          text="Delete Selected Records"
        >
        </dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>

</div>
</div>
<dx-popup
[showTitle]="true"
title="Create Customer"
    [(visible)]="isPopupVisible"
    [hideOnOutsideClick]="true">
    <dxi-toolbar-item
        widget="dxButton"
        location="after"
        [options]="closeButtonOptions">
    </dxi-toolbar-item>
   
        
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <form action="post" (submit)="onSubmit($event)">
    <dx-form [formData]="formData">
      <dxi-item  editorType="dxTextBox" dataField="customer_code"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Customer code', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer code is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item  editorType="dxTextBox" dataField="customer_name"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Customer name', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer name is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item editorType="dxTextBox" dataField="address"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Address', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer address is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item  editorType="dxTextBox" dataField="contact_no"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Contact no', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer contact is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 

    <dxi-item itemType="button">
      <dxo-button-options width="50%" type="default" [useSubmitBehavior]="true" [template]="'Create Customer'">
      </dxo-button-options>
    </dxi-item>
   
    </dx-form>
  </form>  
  </div>
</div>
</dx-popup>


