

<!-- <h2 class="content-block">Create Customer</h2> -->


<div class="content-block">
  <div class="dx-card responsive-paddings">
    <h2 class="content-block">{{a}} </h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <form action="post" (submit)="onSubmit($event)" >
    <dx-form [formData]="formData">
      <dxi-item  editorType="dxTextBox" dataField="customer_code"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Customer code', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer code is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item  editorType="dxTextBox" dataField="customer_name"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Customer name', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer name is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item editorType="dxTextBox" dataField="address"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Address', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer address is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item  editorType="dxTextBox" dataField="contact_no"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Contact no', mode: 'text' }">
      <dxi-validation-rule type="required" message="Customer contact is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="b">
      </dxo-button-options>
    </dxi-item>
    <dxi-item itemType="button" >
      <dxo-button-options width="100%"  [template]="'back'" [onClick]="backToCustomer">
      </dxo-button-options>
    </dxi-item>

    </dx-form>
  </form>  
  </div>
</div>

