
<h2 class="content-block">User List</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    
  <dx-data-grid  #dataGridVar
   
    [dataSource]="dataUser"
    [showBorders]="true"
    (onSelectionChanged)="selectionChanged($event)"
  >
  <dxo-header-filter [visible]="true"> </dxo-header-filter>

  <dxo-filter-panel [visible]="true"> </dxo-filter-panel>

  <dxo-filter-row [visible]="true"> </dxo-filter-row>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
  [allowedPageSizes]="[5, 10]"
  [showPageSizeSelector]="true"
  [showNavigationButtons]="true"
></dxo-pager>

    <dxo-selection mode="multiple"></dxo-selection>

    <!-- <dxi-column dataField="_id" caption="ID"></dxi-column> -->
    <dxi-column dataField="email" caption="Email"></dxi-column>
    <dxi-column dataField="password"  caption="Password" ></dxi-column>
    <dxi-column dataField="token"  caption="Token" ></dxi-column>
    <dxi-column dataField="created_by"  caption="Created by" ></dxi-column>
    <dxi-column dataField="created_date" dataType="datetime"  caption="created date"  ></dxi-column>
    <dxi-column dataField="updated_date" dataType="datetime"  caption="updated date"></dxi-column>
    

    <dxo-toolbar>
    
      <dxi-item location="after"> 
        <dx-button
        icon="add"
    text="Create user"
    (onClick)="togglePopup()">
</dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button
          (onClick)="deleteRecords()"
          [disabled]="!selectedItemKeys.length"
          icon="trash"
          text="Delete Selected Records"
        >
        </dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>

</div>
</div>
<dx-popup 
  [showTitle]="true"
  title="Create User"
  [(visible)]="isPopupVisible"
  [hideOnOutsideClick]="true"

>
<dxi-toolbar-item
widget="dxButton"
location="after"
[options]="closeButtonOptions">
</dxi-toolbar-item>

   
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <form action="post" (submit)="onSubmit($event)">
    <dx-form [formData]="formData">

        <dxi-item dataField="email" editorType="dxTextBox"
        [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email', mode: 'email' }">
        <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
        <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>
    <dxi-item  editorType="dxTextBox" dataField="password"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'password' }">
      <dxi-validation-rule type="required" message="password is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item> 
    <dxi-item  editorType="dxTextBox" dataField="create_by"
    [editorOptions]="{ stylingMode: 'filled', placeholder: 'Create by' }">
    <dxi-validation-rule type="required" message="Create by is required"></dxi-validation-rule>
    <dxo-label [visible]="false"></dxo-label>
  </dxi-item> 
  <dxi-item  editorType="dxTextBox" dataField="update_by"
  [editorOptions]="{ stylingMode: 'filled', placeholder: 'Update by' }">
  <dxi-validation-rule type="required" message="Update by is required"></dxi-validation-rule>
  <dxo-label [visible]="false"></dxo-label>
</dxi-item> 
    
    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'Create User'">
      </dxo-button-options>
    </dxi-item>

    </dx-form>
  </form>  
  </div>
</div>

</dx-popup>


